<div class="menu_section">
  <h3>MENU</h3>
  <ul class="nav side-menu">
  <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
  <ul class="nav child_menu" style="display: none">
    <li onclick="menu(101);">Nuevo usuario</li>
    <li onclick="menu(102);">Lista de usuarios</li>
    <li onclick="menu(103);">Grafica de usuarios</li>
  </ul>
  </li>
    </ul>
</div>
	

          <div class="menu_section">
            <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> Solicitudes <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
              <li onclick="menu(201);">Nueva solicitud</li>
              <li onclick="menu(202);">Lista de solicitudes</li>
  </ul>
    </li>
  </ul>
</div>
